<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/ozanahmetdincer">@@ozanahmetdincer</a>.</p>
    <!-- Buradaki iki tane "at" işareti razor sintaxını pasif eder bu tek "at" işareti bazen sıkıntı gösterebilir. Bunu çözmek için iki tane "at" konulur -->
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>